/* Basic styles for the portfolio page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a8e9b;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
/* Styles for the About Me page */
#about-me {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

#about-me h2 {
    color: #734c96;
    margin-top: 20px;
}

#about-me ul {
    list-style-type: square;
    margin-left: 20px;
}
